@import "bootstrap/dist/css/bootstrap.css";

.App {
  text-align: center;
  font-size: 1.5rem;
  background-color: rgb(63, 60, 75);
  color: #e5e3eb;
  height: 100%;
}

.buttons {
  display: grid;
  grid-template-columns: 33% auto 33%;
  grid-template-rows: 33% auto 33%;
  width: 50vw;
  height: 25vh;
}

.queue {
  font-size: 1rem;
  overflow-y: auto;
  max-height: 30vh;
  background-color: rgb(125, 121, 141);
  border-radius: 25px;
}

.queue > .mixedrace {
  background-color: rgb(88, 85, 99);
}

.container {
  height: 100%;
}

input {
  font-size: 1rem;
}

.header {
  padding-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
